@import "tailwindcss";

:root {
    --max-container: 556px;
    --min-container: 400px;
}

body {
    background-color: #18181b;
    width: 100svw;
    height: 100svh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}